%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    background: #f5f5f5;
}

html {
    &::-webkit-scrollbar {
        width: 0;
    }

    &::-webkit-scrollbar-track {
        width: 0;
    }

    &::-webkit-scrollbar-thumb {
        width: 0;
    }
}

.container {
    display: grid;
    grid-template-rows: 100px 70px 50px 50px 180px;
    grid-template-columns: 100%;
    grid-auto-rows: 200px;
    width: 25vw;
    min-width: 400px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(115, 115, 115, 1);
    background: white;
}

.header {
    @extend %flex-center;
    border-radius: 10px 10px 0 0;
    background: linear-gradient(
        to right,
        rgba(212, 228, 239, 1) 0%,
        rgba(134, 174, 204, 1) 100%
    );
    color: #333;
    text-shadow: 1px 1px white, 2px 2px #777;
    transition: all 1s;

    &:hover {
        text-shadow: 1px 1px white, 2px 2px tomato;
        color: crimson;
        cursor: pointer;
    }
}

.search-wrapper {
    @extend %flex-center;
    position: relative;
    background: white;

    form {
        background: white;
    }

    .search-input {
        width: 20vw;
        height: 5vh;
        padding-left: 1vw;
        border: 1px solid #86aecc;
        border-radius: 5px;
        background: white;
    }
}
