* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.container {
  max-width: 30em;
  margin: 1em auto;
  border: 1px solid black;
}

.header {
  text-align: center;
}

.search-wrapper {
  position: relative;
  border: 1px solid red;
  display: flex;
  justify-content: center;

  .search-input {
    margin: 1em;
    width: 20em;
    height: 2em;
  }
}

.nav {
  margin: 1em;

  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
  }

  li {
    margin: 0 1em 0 1em;
    cursor: pointer;
  }
}

.history {
  position: relative;
  border: 1px solid orange;
  padding: 1em;
  margin: 0 2em 0 2em;

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  li {
    margin: 0 0.5em 0 0.5em;
    cursor: pointer;
  }

  button {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    color: red;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}

.current-weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;

  .current-weather__main {
    .current-weather__city {
      font-size: 2em;
    }

    .current-weather__temp {
      font-size: 4em;
    }

    .current-weather__description {
    }
  }

  .current-weather__more {
    ul {
      list-style: none;
    }
  }
}

.forecast-weather-info {
  .forecast-weather {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

  li {
    list-style-type: none;
    margin: 7px;
  }

  .forecast-weather__img {
    margin: 0 2em 0 2em;
  }

  .forecast-weather__description {
    font-size: 2em;
  }
}
