$background: linear-gradient(135deg, rgba(253, 222, 155, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 0%, rgba(255, 251, 241, 1) 5%, rgba(255, 190, 51, 1) 75%);

.current-weather-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1em;
  padding: 1em;
  border-radius: 5px;
  background: $background;
  color: #333333;

  .current-weather__main {
    background: transparent;

    .current-weather__city {
      font-size: 2em;
      background: transparent;
    }

    .current-weather__temp {
      font-size: 4em;
      background: transparent;

    }

    img, .current-weather__description {
      background: transparent;
    }
  }

  .current-weather__more {
    background: transparent;

    ul {
      list-style: none;
      background: transparent;
    }

    li {
      background: transparent;
    }
  }
}
