.history {
  position: relative;
  //border: 1px solid orange;
  border-radius: 5px;
  padding: 1em;
  margin: 0 2em 0 2em;
  background: linear-gradient(to bottom, rgba(241,255,204,1) 0%, rgba(241,255,204,1) 31%, rgba(215,247,176,1) 58%, rgba(200,243,160,1) 74%);

  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: transparent;
  }

  li {
    margin: 0 0.5em 0 0.5em;
    cursor: pointer;
    background: transparent;
    color: #86aecc;

  }

  button {
    position: absolute;
    right: 0.2em;
    top: 0.2em;
    color: red;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }
}
